/**
 * Float Layout Activity
 **/
 .clearfix::after {
  content: " ";
  display: block;
  clear: both;
}


* {
  box-sizing: border-box;
  text-align: center;
}

body {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  color: #777;
  background-color: #777;
  width: 960px;
  font-size: 18px;
  background: grey;
}

header {
  margin: auto;
  margin-bottom:10px;
  padding: 45px;
  color: grey;
  background-color: #ebebeb;
  width: 960px;
}

nav {
  margin: auto;
  margin-bottom:20px;
  padding: 45px;
  color: grey;
  background-color: #ebebeb;
  width: 960px;
}


section {
  padding: 20px;
  background-color: #ebebeb;
  margin-bottom: 20px;
}

#left {
  background-color: #ebebeb;
  float:left;
  width:55%;
}
#article {
  color : #ebebeb;
  background-color:#777;
  float:left;
  width:100%;
}


#right {
  background-color: #666;
  float:left;
  
}
#top{
  color: #777
}
#bottom{
  color: #777
}


#aside {
  background-color: #ebebeb;
  padding: 50px;
  float: left;
  padding-bottom: 269px;
    width:45%;

}

footer {
  margin-top:380px;
  padding: 45px;
  color: grey;
  background: #ebebeb;
  width: 960px;
}
